.image{
    height: 720px;
    width: 560px;
    border-radius:  5px;;



}

.image_icon{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 16px;
}
.container1{
    display: flex;
    color: blue;
    justify-content: flex-start;
    gap: 32px;
}
.container2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 16px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 4px 8px;
    width: 560px;

}
.like{
    width: 64px;
    height: 40px;
    border: none;
    border-radius: 32px;
    background-color: white;
    font-size: 24px;
    text-align: center;
    
}
.like:hover{transform: scale(1.1);}
.like:hover{background: rgba(209, 196, 196, 0.479);    }